.toast
{
    margin-top:-45px!important;
    height:40px;
    width:auto;
    color:white;
    padding:5px!important;
    border-color:white;
    margin-top:5px;
    margin-bottom:5px;
    font-size:15px;
    background-color:red;
}
#samp_txt{
    visibility:hidden;
}
.btn-close{
    margin-top:-15px;
    width:5px!important;
    height:5px!important;
    float:right!important;
}
#error_message{
  position:left;
  margin-top:-10px;
}
img{
    width:100%;
    height:100%;
    padding:15px;
}

.small-icons{
    background-color:#E8E8E8;
    background-repeat:no-repeat;
    background-image: url("../images/user_icon.png");
    padding-top:8px;
    padding-left:8px;
    height:37px;
    width:35px;
    margin-top:-15px;
    border-radius: 5px 0px 0px 5px;
}
.small-icon2{
    background-color:#E8E8E8;
    background-repeat:no-repeat;
    background-image: url("../images/lock_icon.png");
    padding-top:8px;
    padding-left:8px;
    height:37px;
    width:35px;
    margin-top:-10px;
    border-radius: 5px 0px 0px 5px;
}