/*******************************************************************************
* Md Invoice System                                             *
*                                                                              *
* Version: 1.0                                                               *
* Author: Abhishek Raj                                   				      *
*******************************************************************************/
#password{
  margin-bottom:10px;
}

body {
  padding: 0;
  background-color: white;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:black;
}

.btn-primary {
  background-color: #9966cc;
  border-color: #9966cc;
}

.btn-primary:hover {
  background-color: #993399;
  border-color: #993399;
}

.btn-danger {
  background-color: #f44336;
  border-color: #f44336;
}

.btn-danger:hover {
  background-color: #f72a1b;
  border-color: #f72a1b;
}

.btn-success {
  background-color: #009966;
  border-color: #009966;
}

.panel-login {
  background-color: #ffffff !important;
  /*box-shadow: 5px 0px 77px #333;*/
}

.clear {
  clear: both;
}
.box_big{
  width:50%;
  height:auto;
  margin-left:25%;
  margin-right:25%;
  background-color:#ffffff;
  border:none;
  float:left;
  padding:25px;
  border-radius:5px;
}
.login-panel {
  box-shadow: 5px 0px 77px #333;
  margin-top: 150px;
}

.panel-body {
  padding: 30px 30px 15px 30px;
}

.panel-heading {
  padding: 5px 30px 5px 30px;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-top {
  margin-top: 2em;
}

.padding-right {
  padding-right: 15px;
}

.no-padding-right {
  padding-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.user {
  margin-top: 8px;
  margin-right: 10px;
}

/* Forms */
input.shipping {
  text-align: right;
}
.custom_email_textarea {
  width: 100%;
  padding: 10px;
}

#csr_type {
  margin-top: 23px;
}

.invoice_product_qty {
  width: 50px;
  text-align: center;
}
.csr_type {
  text-transform: uppercase;
}

.select-customer {
  margin-top: 10px;
}

.delete-row {
  float: left;
  margin-top: 4px;
}

.item-select {
  float: left;
  margin: 4px;
}

.item-input {
  float: left;
  width: 65%;
  margin-left: 10px;
}

.textarea {
  width: 100%;
}

#invoice_notes{
  height:125px;
}

.textarea textarea {
  width: 100%;
  padding: 10px;
  resize: none;
}

/* Other styles */
strong.shipping {
  margin-top: 4px;
  display: block;
}

/* Progress bar */
.progress .bar {
  display: block;
  height: 20px;
}
.error-list {
  display: none;
}
.progress.progress-danger .bar {
  background-color: #c13333;
}
.progress.progress-warning .bar {
  background-color: #c1bf33;
}
.progress.progress-success .bar {
  background-color: #33c133;
}

.login-form {
  margin-top: 100px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  font-weight:bold;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.hr_vertical
 {
   background-color:#C80000;
   color:#C80000;
   position:absolute;
   left:130px;
   border:2px;
 }
 .titles{
	color:black;
	font-weight:bold;
	text-align:center;
  font-size:20px;
  padding-top:5px;
  padding-bottom:5px;
}
.control-label{
  display: inline-block;
  width: auto;
}
input{
  font-size:15px!important;
  color: black!important;
  margin-top:-5px;
}
.hr_space{
	margin-top:18px;
	display:block;
}
.main-header{
  background-color:white;
}
.alsc{
  width:50px;
  height:100px;
  float:left;
}
.small{
  float:left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:15px;
  margin-left:5px;
  color:black;
  font-weight: 500;
}
.lot_box{
  width:49%;
  height:auto;
  float:left;
  border: solid #36454F 1px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:15px;
  border-radius:5px;
}
.payment_box{
  width:49%;
  height:auto;
  float:left;
  border: solid #36454F 1px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:15px;
  padding-top:15px;
  border-radius:5px;
}
.payment_box2{
  width:49%;
  height:auto;
  float:left;
  border: solid #36454F 1px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:15px;
  padding-top:15px;
  border-radius:5px;
  margin-left:2%;
}
.house_box{
  width:49%;
  height:auto;
  float:left;
  border: solid #36454F 1px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:15px;
  border-radius:5px;
  margin-left:2%;
}
.main_box{
  float:left;
  width:100%;
  height:auto;
  padding-left:15px;
  padding-right:15px!important;
  padding-top:15px;
  border: solid #36454F 1px;
  padding-bottom:15px;
  border-radius:5px;
}
#btnfind{
  margin-left:25px;
  font-weight:bold;
}
#invoice_totals{
  width:100%;
  margin-left:10px;
  margin-right:10px;
}
.space{
  float:left;
  width:100%;
  height:15px;
}
#action_update_house{
  width:100%;
  padding-left:150px!important;
  padding-right:150px!important;
  margin-left:0px;
  margin-right:0px;
  font-weight: bold;
  margin-bottom:10px;
  margin-top:-25px;
}
#action_add_lot{
  width:100%;
  padding-left:150px!important;
  padding-right:150px!important;
  margin-left:0px;
  margin-right:0px;
  font-weight: bold;
  margin-bottom:10px;
  margin-top:-25px;
}
#action_update_lot{
  width:100%;
  padding-left:150px!important;
  padding-right:150px!important;
  margin-left:0px;
  margin-right:0px;
  font-weight: bold;
  margin-bottom:10px;
  margin-top:-25px;
}
#action_update_project{
  width:100%;
  padding-left:150px!important;
  padding-right:150px!important;
  margin-left:0px;
  margin-right:0px;
  font-weight: bold;
  margin-bottom:10px;
  margin-top:-25px;
}
#action_add_house{
  width:100%;
  padding-left:150px!important;
  padding-right:150px!important;
  margin-left:0px;
  margin-right:0px;
  font-weight: bold;
  margin-bottom:10px;
  margin-top:-25px;
}
#action_add_product{
  width:100%;
  padding-left:150px!important;
  padding-right:150px!important;
  margin-left:0px;
  margin-right:0px;
  font-weight: bold;
  margin-bottom:10px;
  margin-top:-25px;
}
#action_add_project{
  width:100%;
  padding-left:150px!important;
  padding-right:150px!important;
  margin-left:0px;
  margin-right:0px;
  font-weight: bold;
  margin-bottom:10px;
  margin-top:-15px;
}
#action_create_csr{
  width:100%;
  padding-left:150px!important;
  padding-right:150px!important;
  margin-left:0px;
  margin-right:0px;
  font-weight: bold;
  margin-bottom:10px;
}
#action_create_customer{
  width:100%;
  padding-left:150px!important;
  padding-right:150px!important;
  margin-left:0px;
  margin-right:0px;
  font-weight: bold;
  margin-bottom:10px;
}
.header{
  width:100%;
  height:25px;
  background-color:#0038a5;
}
#copyright{
  padding:0.5%;
  height:auto;
  background-color: #0038a5;
  text-align: center;
  color: white;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: normal;
  font-weight: bold;
  width:100%;
  z-index:-1;
  position: absolute;
}





.small-box{
  background-color:white;
  border-radius:5px;
  box-shadow: 5px 5px #888888;
}
.dashboard_container_top{
  background-color:#E5E4E2;
  height:auto;
  width:auto;
  padding:25px;
  box-shadow: 3px 3px #aaaaaa;
}
.title_head{
  background-color:#c9c9c9;
  font-weight:bolder;
  font-size:30px;
  border-radius: 10px 10px 0 0;
  padding-left:15px;
}