.rec{
    height:115px;
}
table th{
    text-align:center;
}
.dp_sched{
	width:25%;
	border:solid 1px black;
	padding:3px;
	display:inline-block;
	margin-left:7px;
    font-size:18px;;
}
.ma{
	width:25%;
	border:solid 1px black;
	padding:3px;
	display:inline-block;
	margin-left:7px;
    font-size:18px;;
}
.sales{
	width:47.9%;
	border:solid 1px black;
	padding:3px;
	display:inline-block;
	margin-left:7px;
    font-size:18px;;
}
.small_box_lot{
	width:32.5%;
	border:solid 1px white;
	padding:3px;
	display:inline-block;
	margin-left:7px;
    font-size:18px;;
}
.titles{
	background-color:#E0E0E0;
	font-weight:bold;
	text-align:center;
	margin-bottom:3px;
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 3px;
    padding-left: 0px;
}
.small_box{
	width:33%;
	border:solid 1px white;
	padding:3px;
	display:inline-block;
    font-size:18px;;
}
.small_box1{
	width:33%;
	border:solid 1px white;
	display:inline-block;
    font-size:18px;;
}
.small_box2{
	width:32.5%;
	border:solid 1px white;
	padding:3px;
	display:inline-block;
	margin-left:7px;
}
.form-control{
    background-color:#E0E0E0;
    border-radius: 0px;
    margin-top:4px!important;
    font-size:18px!important;
    height:auto!important;
    padding-top:0px!important;
    padding-bottom:0px!important;
}
.control-label{
    display: inline-block;
    width: auto;
    font-style:italic;
    margin-bottom:0px;
}
.control-label2{
    display: inline-block;
    width: auto;
    font-style:italic;
    margin-bottom:0px;
    font-size:13px;
}
.control-label4{
    width: auto;
    font-style:italic;
    font-size:13px;
    width:auto;
    height:auto;
}
.control-label3{
    display: inline-block;
    width: auto;
    margin-bottom:6px;
    margin-top:5px;
    font-weight:normal!important;
}
.sub{
	background-color:#E0E0E0;
    text-align:center;
    font-size:12px;
    margin-top:-7px;
    line-height:15px;
}
img{
    margin-left: auto;
    margin-right: auto;
    border: none !important;
    display:block;
    width:100%;
    margin-top:none;
}
h3{
    margin-top:-60px;
    margin-left:100px;
}
#dateofsale{
    margin-top:-12px;
    margin-left:85px;
    margin-bottom:8px;
}
.card-body{
    border: 1px solid black!important;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px!important;
    padding-left: 0px;
}
#sales_checkbox{
    height:100%;
    width:100%;
    align-items:center;
    margin-left:20px;
    margin-right:20px;
}
.doc_title{
	width:100%;
    background-color:black;
    color:white;
    font-weight:bold;
    text-align:center;
    display:inline-block;
}
.doc_title_last{
	width:100%;
    background-color:black;
    color:white;
    font-weight:bold;
    text-align:left;
    display:inline-block;
    padding-left:5px;
}
.checkboxes{
    width:100%;
    margin-left:0.5%;
    height:-25px;
    display:inline-block;
}
.csr_status{
    width:50%;
    float:left;
    height:18px;
}
.csr_source{
    width:30%;
    float:right;
    height:18px;
}
#txtsrc{
    border:0;
    margin-left:5px;
    border-bottom:1px solid black;
    width:100px;
    height:25px!important;
}
.subcontainer{
    width:100%;
    height:25px;
    display:inline-block;
    margin-top:1px;
}
.client_label{
    width:60%;
    float:right;
}
.sidetexts{
    font-size:13px;
    float:left;
    width:35%;
    margin-left:0.5%;
}
.label1{
    height:4px;
}
.label2{
    font-style:italic;
}
#bottom_space{
    margin-bottom:3px;
}
#tcp_coverage{
	background-color:black;
    color:white;
	padding-top:0px !important;
	height:110px;
}
table td{
    text-align:center;
    border: 1px solid black;
}
.txtSignature{
    width: 100%;
    height:auto;
    text-align:center;
    border-right:none;
    border-left:none;
    border-bottom:none;
    border-top:solid 1px black;
    margin-top:25px;
}
.noborder{
    border: none;
}
body{
    margin-top:0px!important;
    height:100%;
    width:100%;
}
.container-fluid{
    margin-bottom:-10px;
}
table{
  font-weight:normal;
  font-size:15px;
}
.notes{
    font-style:italic;
    line-height:20px;
    padding-left:5px;
    padding-right:5px;
    font-size:15px;
}
.client_conforme{
    float:left;
    text-align:left;
    width:100%;
    height:auto;
    margin-bottom:10px;
    padding-left:15px;
    padding-right:5px;
}
.approval{
    float:left;
    text-align:left;
    width:100%;
    height:auto;
    padding-left:15px;
    padding-right:5px;
    margin-top:-25px;
}
.coo_val{
    font-size:15px;
    margin-bottom:-55px;
    height:50px;
}
.validation{
    font-size:15px;
    margin-top:92px;
}
.coo_name{
    width:auto;
    height:auto;
    margin-bottom:-25px;
}
#rdo_class{
    margin-top:8px;
    font-style:normal;
    font-weight:normal;
}
#others{
    margin-top:-5px!important;
}
#inside_txtbox{
    width:100%;
}